playground/*
experiments/**/obj/**
experiments/**/*.out
data/*.ptau
experiments/tmp_fusion/*
experiments/obj/*
*.log
.vscode/*

# Python bytecode
__pycache__/
**/__pycache__/
**/**/__pycache__/
*.py[cod]
*$py.class

# Zokrates
abi.json

# Benchmarks
benchmarks/**/*.smt2
benchmarks/**/*.circom
